<!-- <p>listar works!</p> -->

<p-dialog
  header="{{
    this.select_id > 0 ? 'Actualizar Institucion' : 'Crear Institucion'
  }}"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="card">
    <div class="row">
      <form [formGroup]="institucionForm">
        
        <label class="form-label">Nombre de la Institución</label>
        <div class="flex">
          <input
            type="text"
            pInputText
            formControlName="nombre_institucion"
            [style]="{ width: '100%' }"
          />
        </div>

        <label class="form-label">Ubicación</label>
        <div class="flex">
          <input
            type="text"
            pInputText
            formControlName="ubicacion"
            [style]="{ width: '100%' }"
          />
        </div>

        <label class="form-label">Logo</label>
        <div class="flex col-md-12 mb-3">
          <input
            type="file"
            pInputText
            formControlName="logo"
            [style]="{ width: '100%' }"
          />
        </div>

        <div class="row">
          <label class="form-label">Numero  de Celular</label>
          <div class="flex col-md-12 mb-3">
            <input
              type="number"
              pInputText
              formControlName="celular"
              [style]="{ width: '100%' }"
            />
          </div>

          <label class="form-label">Correo Electronico</label>
          <div class="flex col-md-12 mb-3">
            <input
              type="email"
              pInputText
              formControlName="correo"
              [style]="{ width: '100%' }"
            />
          </div>
          <button
            type="button"
            class="btn btn-success"
            (click)="guardarEditar()"
          >
          {{this.select_id > 0 ? 'Guardar Cambios' : 'Guardar' }}
          </button>
          <button
            type="button"
            class="btn btn-danger my-1"
            (click)="cancelar()"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>

  <p-toast position="top-right"></p-toast>
</p-dialog>

<div class="flex justify-content-between">
  <h3>Lista de Instituciones</h3>
  <p-button label="Adicionar Institucion" (click)="adicionar()"> </p-button>
</div>
<div class="card">
  <p-table
    selectionMode="single"
    [(selection)]="lista_institucion"
    [value]="lista_institucion"
    [paginator]="true"
    [rows]="15"
    [scrollable]="true"
    scrollHeight="400px"
    #dt1
    dataKey="id"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="[
      'nombre_institucion',
      'ubicacion',
      'logo',
      'celular',
      'correo',
      'actividad'
    ]"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">
          {{ "codigo" | uppercase }} <p-sortIcon field="id"></p-sortIcon>
        </th>
        <th pSortableColumn="nombre_institucion">
          {{ "Nombre" | uppercase }}
          <p-sortIcon field="nombre_institucion"></p-sortIcon>
        </th>
        <th pSortableColumn="ubicacion">
          {{ "Ubicacion" | uppercase }}
          <p-sortIcon field="ubicacion"></p-sortIcon>
        </th>
        <th pSortableColumn="logo">
          {{ "logo" | uppercase }} <p-sortIcon field="logo"></p-sortIcon>
        </th>

        <th pSortableColumn="celular">
          {{ "celular" | uppercase }} <p-sortIcon field="celular"></p-sortIcon>
        </th>
        <th pSortableColumn="correo">
          {{ "correo" | uppercase }}
          <p-sortIcon field="correo"></p-sortIcon>
        </th>
        <!-- <th pSortableColumn="editar">{{"Editar" | uppercase }}  <p-sortIcon field="editar"></p-sortIcon>   </th>
                <th pSortableColumn="eliminar">{{"Eliminar"  | uppercase }}  <p-sortIcon field="eliminar"></p-sortIcon>   </th> -->
        <th pSortableColumn="actividad">
          {{ "Ajustes" | uppercase }}
          <p-sortIcon field="actividad"></p-sortIcon>
        </th>
      </tr>

      <tr>
        <th>
          <p-columnFilter type="text" field="id"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="nombre_institucion"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="ubicacion"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="logo"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="celular"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="correo"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="editar"></p-columnFilter>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dato>
      <tr>
        <td style="width: 15%">{{ dato.id }}</td>
        <td>{{ dato.nombre_institucion }}</td>
        <td>{{ dato.ubicacion }}</td>
        <td>{{ dato.logo }}</td>
        <td>{{ dato.celular }}</td>
        <td>{{ dato.correo }}</td>
        <td>
          <p-button
            class="border"
            icon="pi pi-pencil"
            (click)="editar(dato)"
            styleClass="p-button-raised p-button-warning"
          ></p-button>

          <p-button
            class="border"
            icon="pi pi-trash"
            (click)="eliminar(dato.id)"
            styleClass="p-button-raised p-button-danger"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<h1>{{ editar_evento }}</h1>

<p-toast position="top-right"></p-toast>
