/* CSS */
.circle-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid;
  object-fit: cover; /* para que la imagen se ajuste dentro del círculo */
}

/* CSS */
.circle-image2{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid;
  object-fit: cover; /* para que la imagen se ajuste dentro del círculo */
}
