<!-- {{ this.datosDelPadre }} -->

<div class="card mx-5">
  <div class="card">
    <ng-template pTemplate="title"> Evento </ng-template>
    <div class="p-fluid">
      <div class="p-field p-grid">
        <div class="p-col-10">
          <div class="grid">
            <div class="col-4">
              <!-- {{ this.datos_evento | json }} -->
              <img class="circle-image3" [src]="this.url_imagen_evento" />
            </div>
            <div class="col">
              <h1>{{ this.datos_evento?.nombre_Evento }}</h1>
              <p>{{ this.datos_evento?.descripcion }}</p>
              <p>
                <strong>Fecha de Inicio: </strong>
                {{ this.datos_evento?.fecha_ini | date }}
              </p>
              <p>
                <strong>Fecha de finalización: </strong>
                {{ this.datos_evento?.fecha_fin | date }}
              </p>

              <p>
                <strong>Institución: </strong>
                {{ this.datos_evento?.Institucion.nombre_institucion }}
              </p>

              <p>
                <strong>Ubicacion: </strong>
                {{ this.datos_evento?.Institucion.ubicacion }}
              </p>

              <div class="grid" *ngIf="!(this.is_logued === null)">
                <div class="col">
                  <p-button
                    class="border"
                    icon="pi pi-task"
                    [label]="text_usuario_inscrito"
                    [disabled]="usuario_inscrito"
                    (click)="inscribirse({})"
                    styleClass="p-button-raised p-button-success"
                  ></p-button>
                </div>
                <div class="col">
                  <p-button
                    class="border"
                    icon="pi pi-task"
                    [label]="text_usuario_reserva"
                    [disabled]="usuario_reserva"
                    (click)="reservar({})"
                    styleClass="p-button-raised p-button-success"
                  ></p-button>
                </div>
              </div>
            </div>
          </div>
          <p-divider></p-divider>
        </div>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-7">
      <h3>Actividades del Evento</h3>

      <p-button
        class="border"
        icon="pi pi-file-pdf"
        (click)="generarPDF()"
        styleClass="p-button-raised p-button-primary"
      ></p-button>

      <p-table
        [value]="lista_de_actividades"
        [paginator]="true"
        [rows]="15"
        [scrollable]="true"
        [tableStyle]="{ 'min-width': '90rem' }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="nombre">
              {{ "nombre" | uppercase }}
              <p-sortIcon field="nombre"></p-sortIcon>
            </th>

            <th pSortableColumn="fecha">
              {{ "fecha" | uppercase }}
              <p-sortIcon field="fecha"></p-sortIcon>
            </th>

            <th pSortableColumn="horario_ini">
              {{ "horario de inicio" | uppercase }}
              <p-sortIcon field="horario_ini"></p-sortIcon>
            </th>

            <th pSortableColumn="horario_fin">
              {{ "horario de finalización" | uppercase }}
              <p-sortIcon field="horario_fin"></p-sortIcon>
            </th>

            <th pSortableColumn="Categorium.descripcion">
              {{ "categoria" | uppercase }}
              <p-sortIcon field="Categorium.descripcion"></p-sortIcon>
            </th>

            <th pSortableColumn="Ambientes[0]?.tipo_ambiente">
              {{ "ambiente" | uppercase }}
              <p-sortIcon field="Ambientes[0]?.tipo_ambiente"></p-sortIcon>
            </th>

            <th pSortableColumn="Ambientes[0]?.direccion_ambiente">
              {{ "ubicación" | uppercase }}
              <p-sortIcon field="Ambientes[0]?.direccion_ambiente"></p-sortIcon>
            </th>

            <th style="min-width: 10rem">Expositor</th>
            <!-- <th style="min-width: 10rem" *ngIf="!(this.is_logued === null)">
              Inscribirse
            </th> -->
            <!-- <th *ngIf="!(this.is_logued === null)">Reservar</th> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dato>
          <tr>
            <td>{{ dato.nombre }}</td>
            <td>{{ dato.fecha | date }}</td>
            <td>{{ dato.horario_ini }}</td>
            <td>{{ dato.horario_fin }}</td>
            <td>{{ dato.Categorium.descripcion }}</td>
            <td>{{ dato.Ambientes[0]?.tipo_ambiente }}</td>
            <td>{{ dato.Ambientes[0]?.direccion_ambiente }}</td>
            <td>
              <p-button
                class="border"
                icon="pi pi-user"
                (click)="expositor(dato)"
                styleClass="p-button-raised p-button-primary"
              ></p-button>

              <p-button *ngIf="!(this.is_logued === null)"
                class="border"
                icon="pi pi-file-pdf"
                (click)="showModalDialogImage(dato)"
                styleClass="p-button-raised p-button-secondary"
              ></p-button>
            </td>
            <!-- <td *ngIf="!(this.is_logued === null)">
                <p-button
                class="border"
                icon="pi pi-paperclip"
                styleClass="p-button-raised p-button-warning"
              ></p-button>
            </td> -->
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="col-4">
      <h3>Expositor del Evento</h3>
      <p-card
        [style.display]="visible_card ? 'block' : 'none'"
        header=""
        [style]="{ width: '360px' }"
        styleClass="p-card-shadow"
      >
        <ng-template pTemplate="header">
          <img alt="Card" src="{{ this.datos_expositor.direccionImagen }}" />
        </ng-template>

        <h6>
          Nombre: {{ this.datos_expositor.nombre }}
          {{ this.datos_expositor.paterno }}
        </h6>
        <h6>Correo electronico: {{ this.datos_expositor.correo }}</h6>
        <p>{{ this.datos_expositor.experiencia_academica }}</p>
        <ng-template pTemplate="footer">
          <!-- <p-button label="Save" icon="pi pi-check"></p-button>
          <p-button
            label="Cancel"
            icon="pi pi-times"
            styleClass="p-button-secondary"
            [style]="{ 'margin-left': '.5em' }"
          ></p-button> -->
        </ng-template>
      </p-card>
    </div>
  </div>

  <div class="grid" *ngIf="!(this.is_logued === null)">
    <div class="col">
      <h4>Comentarios del Evento</h4>
    </div>
  </div>

  <div class="grid" *ngIf="!(this.is_logued === null)">
    <div class="col-7">
      <p-card>
        <!-- <ng-template pTemplate="title"> </ng-template> -->
        <div class="p-fluid">
          <div class="p-field p-grid">
            <div class="p-col-10" *ngFor="let coment of lista_de_comentarios">
              <div class="grid">
                <div class="col-2">
                  <img
                    class="circle-image2"
                    [src]="this.url_imagen + coment.foto"
                  />
                  <p>{{ coment.nombre }}</p>
                </div>
                <div class="col">
                  <p>{{ coment.fecha_hora }}</p>
                  <h6>{{ coment.descripcion }}</h6>
                </div>
              </div>
              <p-divider></p-divider>
            </div>
          </div>
        </div>
      </p-card>
    </div>
  </div>

  <div class="grid" *ngIf="!(this.is_logued === null)">
    <div class="col-7">
      <p-card>
        <!-- <ng-template pTemplate="title"> </ng-template> -->
        <form [formGroup]="comentarioForm">
          <div class="p-fluid">
            <div class="p-field p-grid">
              <label for="comment" class="p-col-2 my-2">Comentario:</label>
              <!-- {{ this.comentarioForm.value | json }} -->
              <div class="p-col-10">
                <div class="grid">
                  <div class="col-2">
                    <img
                      class="circle-image"
                      src="./../../../../../assets/images/form.png"
                    />
                  </div>
                  <div class="col">
                    <textarea
                      id="address"
                      type="text"
                      rows="4"
                      formControlName="descripcion"
                      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-grid">
              <div class="p-col-12">
                <!-- <button
                icon="pi pi-send"
                type="button"
                class="p-button p-button-primary"
              >
                Enviar
              </button> -->

                <p-button
                  icon="pi pi-send"
                  label="Enviar"
                  (click)="enviarComentario()"
                  styleClass="p-button-success"
                ></p-button>
              </div>
            </div>
          </div>
        </form>
      </p-card>
    </div>
  </div>
</div>

<p-dialog
  header="Descargar Material"
  [(visible)]="displayModalImage"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [maximizable]="true"
>

<!-- {{this.lista_de_material |json}} -->
  <!-- vamos a visualizar los pdfs -->

  <div class="card">
    <p-table
      selectionMode="single"
      [(selection)]="lista_de_material"
      [value]="lista_de_material"
      [paginator]="true"
      [rows]="15"
      [scrollable]="true"
      scrollHeight="400px"
      #dt1
      dataKey="id"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [tableStyle]="{ 'min-width': '10rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          
          <th pSortableColumn="nombre_archivo">
            {{ "nombre archivo" | uppercase }}
            <p-sortIcon field="nombre_archivo"></p-sortIcon>
          </th>

          <th pSortableColumn="Archivo">
            {{ "Direccion" | uppercase }}
            <p-sortIcon field="Archivo"></p-sortIcon>
          </th>

          <th pSortableColumn="ajustes">
            {{ "Ajustes" | uppercase }}
            <p-sortIcon field="ajustes"></p-sortIcon>
          </th>
        </tr>

        <tr>
          
          <th>
            <p-columnFilter type="text" field="nombre_archivo"></p-columnFilter>
          </th>

          <th>
            <p-columnFilter type="text" field="archivo"></p-columnFilter>
          </th>

          <th>
            <p-columnFilter type="text" field="ajustes"></p-columnFilter>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-dato>
        <tr>
          <td>{{ dato.nombre_archivo }}</td>
          <td>
            

            <a target="_blank" [href]="this.url_imagenMaterial + dato.nombre_archivo" class="p-button p-button-raised p-button-rounded"> Enlace</a>
          </td>
          <td>
            <!-- <p-button
              class="border"
              icon="pi pi-plus"
              styleClass="p-button-raised p-button-success"
            ></p-button> -->

            <p-button
              class="border"
              icon="pi pi-download"
              (click)="descargar(dato.nombre_archivo)"
              styleClass="p-button-raised p-button-success"
            ></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <!-- para subir archivos -->
</p-dialog>
