<p-dialog
  header="{{ this.select_id > 0 ? 'Actualizar Usuario' : 'Crear Usuario' }}"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  styleClass="p-fluid"
>
  {{ usuarioForm.value | json }}
  <div class="card">
    <div class="row">
      <form [formGroup]="usuarioForm">
        <div class="col-md-12">
          <h4>Personas Registradas</h4>
        </div>

        <div class="field">
          <label for="inventoryStatus">Persona</label>
          <select
            class="form-select form-select-md mb-3"
            aria-label=".form-select-lg example"
            formControlName="PersonaId"
          >
            <option *ngFor="let datos of lista_personas" [value]="datos.id">
              {{ datos.nombre }} {{ datos.paterno }} {{ datos.materno }}
            </option>
          </select>
        </div>

        <label for="name">Usuario</label>
        <div class="field">
          <input
            type="text"
            pInputText
            formControlName="nom_usuario"
            required
            autofocus
          />
        </div>

        <label for="name">Contraseña</label>
        <div class="field">
          <input
            type="password"
            pInputText
            formControlName="contrasenia"
            required
            autofocus
          />
        </div>

        <label for="name">Correo electronico</label>
        <div class="field">
          <input
            type="email"
            pInputText
            formControlName="correo"
            required
            autofocus
          />
        </div>

        <div class="field">
          <label class="mb-3">Rol de Usuario</label>
          <div class="formgrid grid">
            <div
              class="field-radiobutton col-6"
              *ngFor="let dato of lista_roles"
            >
              <p-radioButton
                formControlName="RolId"
                value="{{ dato.id }}"
              ></p-radioButton>
              <label>{{ dato.descripcion }}</label>
            </div>
          </div>
        </div>

        <div class="field">
          <label for="name">Experiencia Academica</label>
          <div class="field">
            <input
              style="display: none;"
              type="email"
              pInputText
              formControlName="correo"
              required
              autofocus
            />
          </div>
        </div>

        <div class="row">
          <button
            type="button"
            class="btn btn-success"
            (click)="guardarEditar()"
          >
            {{ this.select_id > 0 ? "Guardar Cambios" : "Guardar" }}
          </button>
          <button
            type="button"
            class="btn btn-danger my-1"
            (click)="cancelar()"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</p-dialog>

<div class="flex justify-content-between">
  <h1>Lista de Usuarios</h1>
  <p-button label="Adicionar Usuario" (onClick)="showDialog()"> </p-button>
</div>

<div class="card">
  <p-table
    selectionMode="single"
    [(selection)]="lista_usuarios"
    [value]="lista_usuarios"
    [paginator]="true"
    [rows]="15"
    [scrollable]="true"
    scrollHeight="400px"
    #dt1
    dataKey="id"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="[
      'id',
      'nom_usuario',
      'contrasenia',
      'correo',
      'Rols[0].descripcion',
      'foto',
      'ajustes'
    ]"
    [tableStyle]="{ 'min-width': '70rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">
          {{ "codigo" | uppercase }} <p-sortIcon field="id"></p-sortIcon>
        </th>
        <th pSortableColumn="nom_usuario">
          {{ "usuario" | uppercase }}
          <p-sortIcon field="nom_usuario"></p-sortIcon>
        </th>
        <th pSortableColumn="Rols[0].descripcion">
          {{ "permiso" | uppercase }}
          <p-sortIcon field="Rols[0].descripcion"></p-sortIcon>
        </th>
        <th pSortableColumn="correo">
          {{ "correo" | uppercase }} <p-sortIcon field="correo"></p-sortIcon>
        </th>
        <th pSortableColumn="foto">
          {{ "foto" | uppercase }} <p-sortIcon field="foto"></p-sortIcon>
        </th>

        <th pSortableColumn="actividad">
          {{ "Ajustes" | uppercase }}
          <p-sortIcon field="actividad"></p-sortIcon>
        </th>
      </tr>

      <tr>
        <th>
          <p-columnFilter type="text" field="id"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="nom_usuario"></p-columnFilter>
        </th>

        <th>
          <p-columnFilter type="text" field="Rols[0].descripcion">
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="correo"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="foto"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="ajustes"></p-columnFilter>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dato>
      <tr>
        <td>{{ dato.id }}</td>
        <td>{{ dato.nom_usuario }}</td>
        <td>
          {{ dato.Rols[0].descripcion }}
        </td>
        <td>{{ dato.correo }}</td>
        <td>
          <!-- {{dato.foto}} -->
          <img
            [src]="this.direccionImagen + dato.foto"
            width="100"
            class="shadow-4"
          />
          <p-button
            (click)="showModalDialogImage(dato)"
            icon="pi pi-image"
            label="Imagen"
          ></p-button>
          <!-- {{ dato.foto }} -->
        </td>
        <td>
          <p-button
            class="border"
            icon="pi pi-pencil"
            (click)="editar(dato)"
            styleClass="p-button-raised p-button-warning"
          ></p-button>

          <p-button
            class="border"
            icon="pi pi-trash"
            (click)="eliminar(dato.id)"
            styleClass="p-button-raised p-button-danger"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-toast position="top-right"> </p-toast>

<p-dialog
  header="Subir Imagen"
  [(visible)]="displayModalImage"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <!-- para subir archivos -->
  <p-fileUpload
    name="demo[]"
    [customUpload]="true"
    (uploadHandler)="myUploader($event)"
    accept="image/*"
  >
    <ng-template pTemplate="content">
      <ul *ngIf="uploadedFiles.length">
        <li *ngFor="let file of uploadedFiles">
          {{ file.name }} - {{ file.size }} bytes
        </li>
      </ul>
    </ng-template>
  </p-fileUpload>

  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="displayModalImage = false"
      label="Ok"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>
