<!-- <p>doble-autentificacion works!</p> -->
<p-dialog
  header="Autentificación doble"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p>
    Se le envio un código PIN de 4 digitos a su correo electronico. <br />
    Introduzca ese pin para iniciar sesión
    <!-- {{pinForm.value |json }} -->
  </p>

  <form [formGroup]="pinForm">
    <label class="form-label">Ingrese PIN</label>
      <div class="flex">
        
        <input type="number" pInputText formControlName="pin" [style]="{width: '100%'}"/>
        
      </div>

  </form>

  <ng-template pTemplate="footer">
    <p-button [disabled]="!pinForm.valid"
      icon="pi pi-check"
      (click)="verificarPin()"
      label="Verificar Pin"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>