<!-- {{this.usuarioForm.value | json}} -->
<form [formGroup]="usuarioForm">
  <div class="card">
    <div class="grid">
      <div class="col">
        <h2>Información del Usuario</h2>

        
        <div class="card">
          <div class="mx-auto">
            <div class="grid">
              <div class="col">
                <img [src]="this.url_imagen" width="200" />
              </div>
            </div>
            <div class="grid">
              <div class="col">
                <p-button
                  (click)="showModalDialogImage({ id: 1 })"
                  icon="pi pi-image"
                  label="Perfil del Usuario"
                ></p-button>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <!-- <h2>Información del sistema</h2> -->
          <div class="formgrid grid">
            <div class="field col">
              <label for="firstname2">Nombre</label>
              <input
                type="text"
                formControlName="nombre"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                aria-describedby="username-help"
              />
            </div>
          </div>

          <div class="formgrid grid">
            <div class="field col">
              <label for="firstname2">Apellido Paterno</label>
              <input
                type="text"
                formControlName="paterno"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                aria-describedby="username-help"
              />
            </div>
          </div>

          <div class="formgrid grid">
            <div class="field col">
              <label for="firstname2">Apellido Materno</label>
              <input
                type="text"
                formControlName="materno"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                aria-describedby="username-help"
              />
            </div>
          </div>

          <div class="formgrid grid">
            <div class="field col">
              <label for="firstname2">Fecha de Nacimiento</label>
              <input
                type="date"
                formControlName="fecha_nac"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                aria-describedby="username-help"
              />
            </div>
          </div>

          <div class="formgrid grid">
            <div class="field col">
              <label class="mb-3">Genero</label>
              <div class="formgrid grid">
                <div
                  class="field-radiobutton col-6"
                  *ngFor="let dato of lista_estados"
                >
                  <p-radioButton
                    formControlName="sexo"
                    value="{{ dato.descripcion }}"
                  ></p-radioButton>
                  <label>{{ dato.descripcion }}</label>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="formgrid grid">
            <div class="field col">
              <label for="firstname2">Usuario</label>
              <input
                type="text"
                formControlName="nom_usuario"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                aria-describedby="username-help"
              />
            </div>
          </div> -->

          <div class="formgrid grid">
            <div class="field col">
              <label for="firstname2">Contraseña</label>
              <input
                type="password"
                formControlName="contrasenia"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                aria-describedby="username-help"
              />
            </div>
          </div>

          <div class="formgrid grid">
            <div class="field col">
              <label for="firstname2">Correo</label>
              <input
                type="email"
                formControlName="correo"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                aria-describedby="username-help"
              />
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="grid">
      <div class="col">
        <button
          pButton
          pRipple
          (click)="guardarActualizar(this.usuarioForm.value)"
          label="Guardar Cambios"
          class="p-button-success w-full"
        ></button>
      </div>
    </div>
  </div>
</form>

<p-dialog
  header="Subir Imagen"
  [(visible)]="displayModalImage"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-fileUpload
    name="demo[]"
    [customUpload]="true"
    (uploadHandler)="myUploader($event)"
    accept="image/*"
  >
    <ng-template pTemplate="content">
      <ul *ngIf="uploadedFiles.length">
        <li *ngFor="let file of uploadedFiles">
          {{ file.name }} - {{ file.size }} bytes
        </li>
      </ul>
    </ng-template>
  </p-fileUpload>

  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="displayModalImage = false"
      label="Ok"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>
