<p-dialog
  header="{{ this.select_id > 0 ? 'Actualizar Ambiente' : 'Crear Ambiente' }}"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  styleClass="p-fluid"
>
  {{ ambienteForm.value | json }}
  <div class="card">
    <div class="row">
      <form [formGroup]="ambienteForm">
        <label for="name">Tipo de Ambiente</label>
        <div class="field">
          <input
            type="text"
            pInputText
            formControlName="tipo_ambiente"
            required
            autofocus
          />
        </div>

        <label for="name">Area del Ambiente</label>
        <div class="field">
          <input
            type="number"
            pInputText
            formControlName="area_ambiente"
            required
            autofocus
          />
        </div>

        <label for="name">Ubicación</label>
        <div class="field">
          <input
            type="text"
            pInputText
            formControlName="direccion_ambiente"
            required
            autofocus
          />
        </div>
        

        <div class="field">
          <label class="mb-3">Estado</label>
          <div class="formgrid grid">
            <div
              class="field-radiobutton col-6"
              *ngFor="let dato of lista_estados"
            >
              <p-radioButton
                formControlName="estado"
                value="{{ dato.descripcion }}"
              ></p-radioButton>
              <label>{{ dato.descripcion }}</label>
            </div>
          </div>
        </div>

        <div class="row">
          <button
            type="button"
            class="btn btn-success"
            (click)="guardarEditar()"
          >
            {{ this.select_id > 0 ? "Guardar Cambios" : "Guardar" }}
          </button>
          <button
            type="button"
            class="btn btn-danger my-1"
            (click)="cancelar()"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</p-dialog>

<div class="flex justify-content-between">
  <h3>Ambientes</h3>
  <div class="flex my-3">
    <div class="flex mx-3">
      <p-button label="Adicionar Ambiente" (click)="showDialog()"> </p-button>
    </div>
    <p-button label="Volver" (click)="volver()"> </p-button>
  </div>
</div>

<div class="card">
  <p-table
    selectionMode="single"
    [(selection)]="lista_ambientes"
    [value]="lista_ambientes"
    [paginator]="true"
    [rows]="15"
    [scrollable]="true"
    scrollHeight="400px"
    #dt1
    dataKey="id"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="[
      'id',
      'tipo_ambiente',
      'area_ambiente',
      'direccion_ambiente',
      'estado',
      'ajustes'
    ]"
    [tableStyle]="{ 'min-width': '100rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">
          {{ "codigo" | uppercase }} <p-sortIcon field="id"></p-sortIcon>
        </th>
        <th pSortableColumn="tipo_ambiente">
          {{ "tipo ambiente" | uppercase }}
          <p-sortIcon field="tipo_ambiente"></p-sortIcon>
        </th>
        <th pSortableColumn="area_ambiente">
          {{ "Tamaño" | uppercase }}
          <p-sortIcon field="area_ambiente"></p-sortIcon>
        </th>
        <th pSortableColumn="direccion_ambiente">
          {{ "Ubicación" | uppercase }}
          <p-sortIcon field="direccion_ambiente"></p-sortIcon>
        </th>
        <th pSortableColumn="estado">
          {{ "estado" | uppercase }} <p-sortIcon field="estado"></p-sortIcon>
        </th>

        <!-- <th pSortableColumn="Categorium.descripcion">
          {{ "Categoria" | uppercase }}
          <p-sortIcon field="Categorium.descripcion"></p-sortIcon>
        </th> -->
        <!-- <th pSortableColumn="editar">{{"Editar" | uppercase }}  <p-sortIcon field="editar"></p-sortIcon>   </th>
              <th pSortableColumn="eliminar">{{"Eliminar"  | uppercase }}  <p-sortIcon field="eliminar"></p-sortIcon>   </th> -->
        <th pSortableColumn="ajustes">
          {{ "Ajustes" | uppercase }}
          <p-sortIcon field="ajustes"></p-sortIcon>
        </th>
      </tr>

      <tr>
        <th>
          <p-columnFilter type="text" field="id"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="tipo_ambiente"></p-columnFilter
          >
        </th>
        <th>
          <p-columnFilter type="text" field="area_ambiente"> </p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="direccion_ambiente"
          ></p-columnFilter
          >
        </th>
        <th>
          <p-columnFilter type="text" field="estado"></p-columnFilter>
        </th>

        <!-- <th>
          <p-columnFilter
            type="text"
            field="Categorium.descripcion"
          ></p-columnFilter>
        </th> -->
        <th>
          <p-columnFilter type="text" field="ajustes"></p-columnFilter>
        </th>
        <!-- <th>
                  <p-columnFilter type="text" field="eliminar"></p-columnFilter>
              </th>
              <th>
                  <p-columnFilter type="text" field="actividad"></p-columnFilter>
              </th> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dato>
      <tr>
        <td>{{ dato.id }}</td>
        <td>{{ dato.tipo_ambiente }}</td>
        <td>{{ dato.area_ambiente }}</td>
        <td>{{ dato.direccion_ambiente }}</td>
        <td>{{ dato.estado }}</td>
        <!-- <td>{{ dato.Categorium.descripcion }}</td> -->
        <td>
          <p-button
            class="border"
            icon="pi pi-pencil"
            (click)="editar(dato)"
            styleClass="p-button-raised p-button-warning"
          ></p-button>

          <p-button
            class="border"
            icon="pi pi-plus"
            (click)="navegarHaciaHijo(dato.id)"
            styleClass="p-button-raised p-button-success"
          ></p-button>

          <p-button
            class="border"
            icon="pi pi-trash"
            (click)="eliminar(dato.id)"
            styleClass="p-button-raised p-button-danger"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-toast position="top-right"></p-toast>

<!-- {{this.select_id}} -->
<!-- <app-actividades [id_evento]="this.select_id" ></app-actividades> -->
